<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suites">
  <parameter name="NAVEGADOR" value="CHROME"/>
  <test thread-count="5" name="FirstTest">
	<groups>
	  <run>
		<include name="DespegarTest"/>
		<include name="grupo_1" />
	  </run>
	</groups>
    <classes>
      <class name="com.leonardo.despegar.DespegarTest4"/>
	  <class name="com.leonardo.wikipedia.WikiTest3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
